body {
  background-color: #000;
  margin: 0;
}

.block {
  border: solid 1px #e6605c;
}

.outer {
  width: 328px;
  background-color: #308dc0;
  padding: 10px;
  margin: 20px 20px 40px;
}

.middle {
  background-color: #ffa500;
  padding: 10px;
}

.inner {
  background-color: #ddd;
  padding: 10px;
}
