* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
}

.blocks {
  margin: 20px;
}

.blocks__block {
  width: 350px;
  margin-bottom: 40px;
}

.block {
  padding: 10px;
  border: 1px solid #e75551;
}

.block--outer {
  background-color: #308dc0;
}

.block--inner {
  background-color: #ffa500;
}

.block--text {
  background-color: #ddd;
}
